{
  "openapi": "3.1.0",
  "info": {
    "title": "KHDP Open API for AI Agents",
    "version": "1.0.0",
    "summary": "Search, download, and submit Korea Health Data Platform datasets — built for AI coding agents and external developers.",
    "description": "Machine-readable spec for the public KHDP API served at https://khdp.io/v1. Companion human guide for agents: https://khdp.io/AGENTS.md\n\n## Authentication\n\nTwo credential types, interchangeable across all endpoints unless noted:\n\n- **OAuth (PKCE)** — `Authorization: Bearer <jwt>`. Authenticates a *user*; obtained via the `/oauth/authorize` → `/oauth/token` flow.\n- **Personal Access Token (PAT)** — `Authorization: Bearer khdp_pat_…`. Long-lived user token; issued from the KHDP web UI (Settings → Account → API Token).\n\nAn app-developer credential class (`X-App-Id` + `X-App-Secret`) exists for headless/server-to-server integrations but is **not part of this public surface** — contact KHDP ops if your use case requires it.\n\n## Scopes\n\nThe credential must hold the `datasets` scope for file listing and download endpoints.\n\n## Error model\n\nAll errors share the `Error` schema (see *Components*). 4xx responses carry a human `message`, an optional machine-readable `errorCode`, and a `requestId` (also in the `X-Request-Id` response header) for support traces.\n\n## PAT issuance is web-only\n\nPersonal access tokens are issued from <https://khdp.net> → *Settings → Account → API Token*. There is intentionally no programmatic `POST /oauth/api-tokens` on this public surface — agents should ask the user to paste a token from the web UI.",
    "contact": { "name": "KHDP", "url": "https://khdp.net" },
    "license": { "name": "MIT", "identifier": "MIT" }
  },
  "servers": [
    { "url": "https://khdp.io/v1", "description": "Production gateway (Cloudflare-fronted)." }
  ],
  "tags": [
    { "name": "Account",     "description": "The authenticated user — profile and credit balance. Read-only. Bearer (OAuth/PAT) required." },
    { "name": "Datasets",    "description": "Public dataset catalog — search, detail, file listing, presigned download URLs." },
    { "name": "Submissions", "description": "Your own datasets — create, upload files, finalize for review. OAuth/PAT only." },
    { "name": "OAuth",       "description": "PKCE login and token refresh." }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": ["Account"],
        "summary": "Get the authenticated user's profile",
        "description": "Returns the profile of whoever owns the current Bearer token (OAuth or PAT). Useful as a session-start sanity check — confirms auth and identifies the user. Field shape mirrors `nstri-back`'s member.profile response; additional properties may appear.",
        "operationId": "getMe",
        "security": [ { "bearerAuth": [] } ],
        "responses": {
          "200": { "description": "Member profile.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Member" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/balance": {
      "get": {
        "tags": ["Account"],
        "summary": "Get the authenticated user's credit balance",
        "description": "Returns the user's current credit balance (issued by the KHDP credit system, used for paid resources). Read-only; charging happens through the web UI.",
        "operationId": "getMyBalance",
        "security": [ { "bearerAuth": [] } ],
        "responses": {
          "200": { "description": "Credit balance.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreditBalance" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/datasets": {
      "get": {
        "tags": ["Datasets"],
        "summary": "Search public datasets",
        "description": "Returns a paginated list of published datasets. Anonymous access OK. File listing and downloads require auth and the `datasets` scope.",
        "operationId": "listDatasets",
        "security": [ {}, { "bearerAuth": [] } ],
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "Free-text keyword." },
          { "name": "type", "in": "query", "schema": { "type": "array", "items": { "type": "string" } }, "style": "form", "explode": true, "description": "Filter by ciType. Repeatable." },
          { "name": "accessPolicy", "in": "query", "schema": { "type": "array", "items": { "type": "integer", "enum": [0, 1, 2, 3] } }, "style": "form", "explode": true, "description": "0=Open, 1=Restricted, 2=Credentialed, 3=ContributorReview. Repeatable." },
          { "name": "page",  "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "minimum": 1, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DatasetPage" } } }
          }
        }
      }
    },
    "/datasets/{code}/{version}": {
      "get": {
        "tags": ["Datasets"],
        "summary": "Get dataset metadata",
        "description": "Full metadata for a published dataset version. Use `latest` for the most recent.",
        "operationId": "getDataset",
        "security": [ {}, { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "responses": {
          "200": { "description": "Dataset detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Dataset" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/datasets/{code}/{version}/files": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List every file in a dataset version (flat, paginated)",
        "description": "Open-policy datasets only. Flat, recursion-free enumeration of every file under the version, with key, size, and a presigned download URL per item — backed by S3 `ListObjectsV2`. Cursor-paginated via `continueToken` (page size 1000); the last page returns `continueToken: null`. Response also carries an `archive` block mirroring the dataset detail endpoint.",
        "operationId": "listDatasetFiles",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" },
          { "name": "continueToken", "in": "query", "schema": { "type": "string" }, "description": "Cursor from the previous response; omit on the first call." }
        ],
        "responses": {
          "200": { "description": "Page of file entries (with presigned URLs).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FileListing" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/datasets/{code}/{version}/files/{key}": {
      "get": {
        "tags": ["Datasets"],
        "summary": "Get a single file's presigned download URL",
        "description": "Open-policy datasets only — others return `400 Is Not Open Access Dataset`. The presigned URL is fetched directly from the origin object store; bytes do not transit the gateway.\n\nNote: `{key}` is the full S3 object key and almost always contains `/` characters (e.g. `imaging/scan001.dcm`). The gateway accepts every path segment after `/files/` as the key, so `GET /v1/datasets/INSPIRE/1.3/files/imaging/scan001.dcm` is the natural form. Clients that URL-encode `/` as `%2F` also work.",
        "operationId": "getDatasetFile",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" },
          { "name": "key", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Full file key (e.g. `imaging/scan001.dcm`). May contain `/`." }
        ],
        "responses": {
          "200": { "description": "Presigned URL.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PresignedUrl" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/submissions": {
      "get": {
        "tags": ["Submissions"],
        "summary": "List your own submissions",
        "operationId": "listMySubmissions",
        "security": [ { "bearerAuth": [] } ],
        "responses": {
          "200": { "description": "Your submissions.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Submission" } } } } }
        }
      },
      "post": {
        "tags": ["Submissions"],
        "summary": "Create a new submission (Writing stage)",
        "operationId": "createSubmission",
        "security": [ { "bearerAuth": [] } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubmissionCreate" } } } },
        "responses": {
          "201": { "description": "Created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Submission" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "409": { "description": "`code` already used.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/submissions/licenses": {
      "get": {
        "tags": ["Submissions"],
        "summary": "List available licenses for submissions",
        "operationId": "listLicenses",
        "security": [ { "bearerAuth": [] } ],
        "responses": {
          "200": { "description": "License catalog.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/License" } } } } }
        }
      }
    },
    "/submissions/{code}/{version}": {
      "get": {
        "tags": ["Submissions"],
        "summary": "Get a single submission you own",
        "operationId": "getMySubmission",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "responses": {
          "200": { "description": "Submission detail.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Submission" } } } },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["Submissions"],
        "summary": "Partially update a submission",
        "description": "Update only the fields you pass. Allowed only while the submission is in `writing` stage.",
        "operationId": "updateSubmission",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubmissionUpdate" } } } },
        "responses": {
          "200": { "description": "Updated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Submission" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/submissions/{code}/{version}/files": {
      "get": {
        "tags": ["Submissions"],
        "summary": "List uploaded files",
        "operationId": "listSubmissionFiles",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" },
          { "name": "path", "in": "query", "required": false, "schema": { "type": "string", "default": "/" }, "description": "Directory to list. `/` (default) for the root, or a sub-path like `/Datasets/2026`." }
        ],
        "responses": {
          "200": { "description": "Listing.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubmissionFileListing" } } } }
        }
      },
      "delete": {
        "tags": ["Submissions"],
        "summary": "Delete a file from a submission",
        "description": "Only allowed while the submission is in `writing` stage.",
        "operationId": "deleteSubmissionFile",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" },
          { "name": "key", "in": "query", "required": true, "schema": { "type": "string" }, "description": "File key to delete." }
        ],
        "responses": { "204": { "description": "Deleted." } }
      }
    },
    "/submissions/{code}/{version}/files/directory": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Create a directory inside the submission",
        "operationId": "createSubmissionDirectory",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubmissionFileRequest" } } } },
        "responses": {
          "201": { "description": "Created." },
          "409": { "description": "Directory already exists.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/submissions/{code}/{version}/files/presigned-url": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Get a presigned PUT URL for uploading a single file",
        "description": "Server returns an S3-compatible presigned URL. Client then issues `PUT <uploadUrl>` with the file bytes (the upload does not transit the gateway). Use the multipart endpoints for files larger than ~5 GB.",
        "operationId": "getSubmissionUploadUrl",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubmissionFileRequest" } } } },
        "responses": {
          "200": { "description": "Upload URL.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PresignedUploadUrl" } } } },
          "201": { "description": "Upload URL.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PresignedUploadUrl" } } } }
        }
      }
    },
    "/submissions/{code}/{version}/files/multipart/initiate": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Initiate an S3 multipart upload",
        "description": "For files larger than ~5 GB. Server returns an `uploadId` and a list of per-part presigned PUT URLs. Client uploads each part, collects `{PartNumber, ETag}`, then calls `/multipart/complete`.",
        "operationId": "initiateSubmissionMultipart",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MultipartInitiateRequest" } } } },
        "responses": {
          "200": { "description": "Initiated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MultipartInitiateResponse" } } } },
          "201": { "description": "Initiated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MultipartInitiateResponse" } } } }
        }
      }
    },
    "/submissions/{code}/{version}/files/multipart/complete": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Complete a multipart upload",
        "operationId": "completeSubmissionMultipart",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MultipartCompleteRequest" } } } },
        "responses": {
          "200": { "description": "Completed." },
          "201": { "description": "Completed." }
        }
      }
    },
    "/submissions/{code}/{version}/files/multipart/abort": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Abort a multipart upload",
        "operationId": "abortSubmissionMultipart",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MultipartAbortRequest" } } } },
        "responses": {
          "200": { "description": "Aborted." },
          "201": { "description": "Aborted." }
        }
      }
    },
    "/submissions/{code}/{version}/files/download-url": {
      "get": {
        "tags": ["Submissions"],
        "summary": "Get a presigned download URL for a file you uploaded (verification)",
        "operationId": "getSubmissionDownloadUrl",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" },
          { "name": "path", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Full path of the file relative to the submission root (e.g. `/Data.csv` or `/Datasets/2026/Data.csv`)." }
        ],
        "responses": {
          "200": { "description": "Presigned URL.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PresignedUrl" } } } }
        }
      }
    },
    "/submissions/{code}/{version}/submit": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Finalize the submission (writing → admin_review)",
        "description": "Locks the submission for editing via the API and hands it to KHDP staff for `admin_review`. Once accepted by staff it moves into author/IRB `review`, then `approved` (publicly listed in `/datasets`) or `rejected`. Further metadata edits during/after review happen through the KHDP web UI.",
        "operationId": "submitSubmission",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "$ref": "#/components/parameters/DatasetCode" },
          { "$ref": "#/components/parameters/DatasetVersion" }
        ],
        "responses": {
          "201": { "description": "Submitted.", "content": { "application/json": { "schema": { "type": "object", "required": ["code", "version", "status"], "properties": { "code": { "type": "string" }, "version": { "type": "string" }, "status": { "type": "string", "enum": ["admin_review"] } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "tags": ["OAuth"],
        "summary": "PKCE authorize entry point (browser; 302 to login page)",
        "description": "Browser-facing OAuth/PKCE entry point. The gateway 302-redirects to the KHDP login page at the web root (`khdp.net/external/oauth-login`). After successful login the page redirects back to the registered `redirect_uri` with `?code=...&state=...`.",
        "operationId": "authorize",
        "parameters": [
          { "name": "client_id",             "in": "query", "required": true, "schema": { "type": "string" }, "description": "Registered app UUID." },
          { "name": "redirect_uri",          "in": "query", "required": true, "schema": { "type": "string", "format": "uri" } },
          { "name": "code_challenge",        "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "code_challenge_method", "in": "query", "required": true, "schema": { "type": "string", "enum": ["S256"] } },
          { "name": "state",                 "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "302": { "description": "Redirect to the login UI.", "headers": { "Location": { "schema": { "type": "string", "format": "uri" } } } }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Exchange code or refresh token for an access token",
        "description": "Two grant types: `authorization_code` (after a successful PKCE login) and `refresh_token` (rotation). Refresh tokens are single-use; replace yours with the new one from the response.",
        "operationId": "token",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "oneOf": [
            { "type": "object", "required": ["grant_type", "code", "code_verifier", "client_id", "redirect_uri"], "properties": {
              "grant_type":   { "type": "string", "enum": ["authorization_code"] },
              "code":         { "type": "string" },
              "code_verifier":{ "type": "string" },
              "client_id":    { "type": "string" },
              "redirect_uri": { "type": "string", "format": "uri" }
            } },
            { "type": "object", "required": ["grant_type", "refresh_token"], "properties": {
              "grant_type":    { "type": "string", "enum": ["refresh_token"] },
              "refresh_token": { "type": "string" }
            } }
          ]
        } } } },
        "responses": {
          "200": { "description": "Token pair.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OAuthToken" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "OAuth JWT or khdp_pat_*", "description": "OAuth/PKCE access token, or a personal access token (PAT) starting with `khdp_pat_`. Sent as `Authorization: Bearer <token>`." }
    },
    "parameters": {
      "DatasetCode":    { "name": "code",    "in": "path", "required": true, "schema": { "type": "string" }, "description": "Dataset code (e.g. `KHDP-OPEN-001`)." },
      "DatasetVersion": { "name": "version", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Semantic version (e.g. `1.0.0`) or `latest`." }
    },
    "responses": {
      "Unauthorized": { "description": "Authentication failed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Forbidden":    { "description": "Authenticated but missing the required scope, or accessing another user's resource.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "NotFound":     { "description": "Resource not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "BadRequest":   { "description": "Request validation failed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["statusCode", "message"],
        "properties": {
          "statusCode": { "type": "integer", "example": 403 },
          "errorCode":  { "type": "string", "description": "Optional machine-readable code (e.g. `LEGACY_PATH`, `MISSING_SCOPE`)." },
          "message":    { "type": "string" },
          "path":       { "type": "string" },
          "timestamp":  { "type": "string", "format": "date-time" },
          "requestId":  { "type": "string", "description": "Mirror of the `X-Request-Id` response header." }
        }
      },
      "Dataset": {
        "type": "object",
        "required": ["code", "title", "version", "accessPolicy"],
        "properties": {
          "code":         { "type": "string",  "example": "KHDP-OPEN-001" },
          "type":         { "type": "string",  "example": "SNUH" },
          "title":        { "type": "string" },
          "summary":      { "type": "string" },
          "version":      { "type": "string",  "example": "1.0.0" },
          "accessPolicy": { "type": "string",  "enum": ["open", "restricted", "credentialed", "contributor_review"] },
          "publishedAt":  { "type": "string",  "format": "date-time" },
          "archive":      { "$ref": "#/components/schemas/Archive" }
        }
      },
      "Archive": {
        "type": "object",
        "description": "Pre-built zip download for the whole dataset version. The gateway attaches this block to dataset detail and file-listing responses so callers don't need a separate round-trip. `url` is present only when a zip exists and the caller is bearer-authenticated; anonymous callers see `available: true` but no URL.",
        "required": ["available", "format"],
        "properties": {
          "available": { "type": "boolean", "description": "`true` when a pre-built zip exists for this version." },
          "format":    { "type": "string",  "enum": ["zip"] },
          "url":       { "type": "string",  "format": "uri", "description": "Presigned URL for direct download. Bearer-authenticated callers only." },
          "expiresAt": { "type": "string",  "format": "date-time" },
          "sizeBytes": { "type": "integer", "format": "int64" }
        }
      },
      "DatasetPage": {
        "type": "object",
        "required": ["data", "totalCnt", "page", "limit"],
        "properties": {
          "data":      { "type": "array", "items": { "$ref": "#/components/schemas/Dataset" } },
          "totalCnt":  { "type": "integer" },
          "totalPage": { "type": "integer" },
          "page":      { "type": "integer" },
          "limit":     { "type": "integer" }
        }
      },
      "FileEntry": {
        "type": "object",
        "description": "Used by the public dataset file listing endpoint (`GET /datasets/{code}/{version}/files`). For the submission file listing see `SubmissionFileEntry`.",
        "required": ["key"],
        "properties": {
          "key":          { "type": "string",  "example": "imaging/scan001.dcm" },
          "size":         { "type": "integer", "format": "int64" },
          "mimeType":     { "type": "string" },
          "lastModified": { "type": "string",  "format": "date-time" }
        }
      },
      "SubmissionFileEntry": {
        "type": "object",
        "description": "One entry inside a submission's file listing — either a regular `file` or (when surfaced inside `subDirs`) a directory entry.",
        "required": ["name", "key", "type"],
        "properties": {
          "name": { "type": "string", "description": "File or directory name (last path segment)." },
          "key":  { "type": "string", "description": "Object key relative to the submission root." },
          "type": { "type": "string", "enum": ["file", "directory"] },
          "size": { "type": "integer", "format": "int64", "description": "File size in bytes (omitted for directories)." },
          "date": { "type": "string", "format": "date-time", "description": "Last modified timestamp." }
        }
      },
      "SubmissionFileListing": {
        "type": "object",
        "description": "One directory's worth of submission contents — sub-directories and direct files. Drill into `subDirs[].key` by re-calling the endpoint with `?path=<key>`.",
        "required": ["code", "version", "currentPath", "subDirs", "contents"],
        "properties": {
          "code":        { "type": "string" },
          "version":     { "type": "string" },
          "parentPath":  { "type": "string", "description": "The parent of `currentPath`; empty when at the root." },
          "currentPath": { "type": "string", "description": "Echoes the requested path." },
          "subDirs":     { "type": "array", "items": { "$ref": "#/components/schemas/SubmissionFileEntry" }, "description": "Sub-directory entries (`type=directory`)." },
          "contents":    { "type": "array", "items": { "$ref": "#/components/schemas/SubmissionFileEntry" }, "description": "Direct file entries (`type=file`)." }
        }
      },
      "SubmissionFileRequest": {
        "type": "object",
        "description": "Common body for submission-file endpoints (presigned URL, directory create). The `cvId` field is required by the backend validator but the value is derived from the URL `{code}/{version}` and overwritten server-side — pass `0` (or any number) as a placeholder.",
        "required": ["cvId", "currentPath", "name"],
        "properties": {
          "cvId":        { "type": "integer", "description": "Placeholder (see schema description). Pass `0`." },
          "currentPath": { "type": "string", "pattern": "^/$|^/?[A-Za-z0-9]+(?:[/_-][A-Za-z0-9]+)*/?$", "description": "Where to place the file/directory. Root: `/`. Nested: `/Datasets/2026`." },
          "name":        { "type": "string", "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]*$", "description": "File or directory name. Allowed: letters, digits, `.`, `_`, `-`; must start with a letter or digit." }
        }
      },
      "PresignedUrl": {
        "type": "object",
        "description": "Presigned URL for downloading a single file you previously uploaded (verification flow). For upload URLs see `PresignedUploadUrl`.",
        "required": ["url"],
        "properties": {
          "url":       { "type": "string", "format": "uri" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "PresignedUploadUrl": {
        "type": "object",
        "description": "Server response for `POST /submissions/{code}/{version}/files/presigned-url`. Issue `PUT <uploadUrl>` with the file bytes and `Content-Type: application/octet-stream` (or your file's media type).",
        "required": ["uploadUrl"],
        "properties": {
          "code":      { "type": "string" },
          "version":   { "type": "string" },
          "path":      { "type": "string", "description": "Resolved path (echo of the request `currentPath`)." },
          "name":      { "type": "string", "description": "Echo of the request `name`." },
          "uploadUrl": { "type": "string", "format": "uri", "description": "Presigned S3-compatible PUT URL (NCP Object Storage gov endpoint). The URL is time-limited; upload promptly." }
        }
      },
      "MultipartInitiateRequest": {
        "type": "object",
        "required": ["cvId", "currentPath", "name", "fileSize", "partSize"],
        "properties": {
          "cvId":        { "type": "integer", "description": "Placeholder; see `SubmissionFileRequest`." },
          "currentPath": { "type": "string" },
          "name":        { "type": "string" },
          "fileSize":    { "type": "integer", "format": "int64", "description": "Total file size in bytes." },
          "partSize":    { "type": "integer", "format": "int64", "description": "Part size in bytes (≥ 5 MiB; 16–64 MiB typical)." }
        }
      },
      "MultipartInitiateResponse": {
        "type": "object",
        "required": ["uploadId", "objectKey", "partUrls"],
        "properties": {
          "uploadId":  { "type": "string" },
          "objectKey": { "type": "string", "description": "S3 key for the resulting object." },
          "partUrls":  { "type": "array", "items": { "type": "object", "properties": { "partNumber": { "type": "integer" }, "url": { "type": "string", "format": "uri" } } }, "description": "Per-part presigned PUT URLs." }
        }
      },
      "MultipartCompleteRequest": {
        "type": "object",
        "required": ["cvId", "objectKey", "uploadId", "parts"],
        "properties": {
          "cvId":      { "type": "integer", "description": "Placeholder; see `SubmissionFileRequest`." },
          "objectKey": { "type": "string" },
          "uploadId":  { "type": "string" },
          "parts":     { "type": "array", "items": { "type": "object", "required": ["PartNumber", "ETag"], "properties": { "PartNumber": { "type": "integer" }, "ETag": { "type": "string" } } } }
        }
      },
      "MultipartAbortRequest": {
        "type": "object",
        "required": ["cvId", "objectKey", "uploadId"],
        "properties": {
          "cvId":      { "type": "integer" },
          "objectKey": { "type": "string" },
          "uploadId":  { "type": "string" }
        }
      },
      "FileListing": {
        "type": "object",
        "description": "One page of files for a dataset version. `items` carries `{key, size, url}` per file with a presigned download URL; `continueToken` cursors to the next page (`null` on the last). `archive` mirrors the block on the dataset detail endpoint.",
        "required": ["items"],
        "properties": {
          "items": { "type": "array", "items": {
            "type": "object",
            "required": ["key", "url"],
            "properties": {
              "key":  { "type": "string", "description": "Full S3 object key relative to the dataset version (e.g. `imaging/scan001.dcm`)." },
              "size": { "type": "integer", "format": "int64", "description": "File size in bytes." },
              "url":  { "type": "string", "format": "uri", "description": "Presigned download URL." }
            }
          } },
          "continueToken": { "type": ["string", "null"], "description": "Cursor for the next page; `null` on the last page." },
          "archive":       { "$ref": "#/components/schemas/Archive" }
        }
      },
      "Submission": {
        "type": "object",
        "description": "Submission record. Returned by `POST /submissions` (create), `GET /submissions` (list), and `GET /submissions/{code}/{version}` (detail). Detail responses include richer fields (`licenseCode`, `licenseLink`, `authors`, `versions`, `topics`, `editable`).",
        "required": ["code", "version", "status"],
        "properties": {
          "code":         { "type": "string" },
          "version":      { "type": "string" },
          "title":        { "type": "string" },
          "summary":      { "type": "string" },
          "type":         { "type": "string", "description": "Provenance tag (e.g. `SNUH`, `Physionet`, `GitHub`)." },
          "status":       { "type": "string", "enum": ["writing", "admin_review", "review", "approved", "rejected"], "description": "Submission lifecycle stage. `writing` = editable by the owner. `admin_review` = handed to KHDP staff. `review` = under author/IRB review. `approved` / `rejected` = terminal." },
          "accessPolicy": { "type": ["string", "null"], "enum": ["open", "restricted", "credentialed", "contributor_review", null], "description": "May be `null` on detail responses because the backend stores it as an internal numeric code." },
          "createdAt":    { "type": "string", "format": "date-time" },
          "updatedAt":    { "type": "string", "format": "date-time" },
          "licenseCode":  { "type": "string", "description": "License `lCode` (detail only)." },
          "licenseLink":  { "type": "string", "format": "uri", "description": "License URL (detail only)." },
          "laestVersion": { "type": "string", "description": "Backend-spelled `latestVersion` (note the typo carried in the wire format)." },
          "publishDate":  { "type": ["string", "null"], "format": "date-time" },
          "topics":       { "type": "array", "items": { "type": "string" } },
          "versions":     { "type": "array", "items": { "type": "object", "properties": { "version": { "type": "string" }, "link": { "type": ["string", "null"] }, "publishDate": { "type": ["string", "null"] } } } },
          "authors":      { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "editable":     { "type": "boolean", "description": "Whether the submission is still editable via `PATCH /submissions/{code}/{version}` and file endpoints." }
        }
      },
      "SubmissionCreate": {
        "type": "object",
        "required": ["title", "version", "code", "summary", "accessPolicy", "lId"],
        "properties": {
          "title":        { "type": "string", "maxLength": 200 },
          "code":         { "type": "string", "pattern": "^[^\\x00/\\\\:*?\"<>|\\s]+$", "description": "Dataset slug. Must not contain `/ \\ : * ? \" < > |` or whitespace." },
          "version":      { "type": "string", "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$" },
          "summary":      { "type": "string", "minLength": 1, "maxLength": 500 },
          "accessPolicy": { "type": "string", "enum": ["open", "restricted", "credentialed", "contributor_review"] },
          "lId":          { "type": "integer", "description": "License ID — see `GET /submissions/licenses` for the catalog." },
          "details":      { "type": "array", "items": { "$ref": "#/components/schemas/ContentDetailDesc" }, "description": "Optional structured detail sections (Abstract, Background, Methods, ...). Each section has a `name` and HTML `content`." }
        }
      },
      "SubmissionUpdate": {
        "type": "object",
        "description": "Partial update body for `PATCH /submissions/{code}/{version}`. Any field omitted is preserved. Only allowed while the submission is in `writing` stage.",
        "properties": {
          "title":        { "type": "string", "maxLength": 200 },
          "code":         { "type": "string", "pattern": "^[^\\x00/\\\\:*?\"<>|\\s]+$" },
          "version":      { "type": "string", "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$" },
          "summary":      { "type": "string", "minLength": 1, "maxLength": 500 },
          "accessPolicy": { "type": "string", "enum": ["open", "restricted", "credentialed", "contributor_review"] },
          "lId":          { "type": "integer" },
          "details":      { "type": "array", "items": { "$ref": "#/components/schemas/ContentDetailDesc" } }
        }
      },
      "ContentDetailDesc": {
        "type": "object",
        "description": "One section of structured dataset documentation. Typical `name` values: `Abstract`, `Background`, `Methods`, `Data Description`. `content` is HTML; KHDP UI renders it.",
        "required": ["name", "content"],
        "properties": {
          "name":    { "type": "string" },
          "content": { "type": "string", "description": "HTML body." }
        }
      },
      "License": {
        "type": "object",
        "required": ["code", "name"],
        "properties": {
          "code": { "type": "string" },
          "name": { "type": "string" },
          "url":  { "type": "string", "format": "uri" }
        }
      },
      "Member": {
        "type": "object",
        "description": "Authenticated user's profile as returned by nstri-back's member service. Additional properties may be present.",
        "properties": {
          "mId":      { "type": "integer", "description": "Internal numeric member id." },
          "email":    { "type": "string",  "format": "email" },
          "name":     { "type": "string" },
          "userName": { "type": "string", "description": "Display handle, if set." },
          "joinedAt": { "type": "string", "format": "date-time" }
        },
        "additionalProperties": true
      },
      "CreditBalance": {
        "type": "object",
        "description": "User's credit balance. Charging happens through the web UI; this is read-only.",
        "required": ["balance"],
        "properties": {
          "balance":   { "type": "string", "description": "Decimal balance (currency = KRW). String to avoid float rounding." },
          "currency":  { "type": "string", "default": "KRW" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "additionalProperties": true
      },
      "OAuthToken": {
        "type": "object",
        "required": ["access_token", "expires_in"],
        "properties": {
          "access_token":  { "type": "string" },
          "refresh_token": { "type": "string", "description": "Replace yours with this on rotation." },
          "expires_in":    { "type": "integer", "description": "Seconds until access_token expires." }
        }
      }
    }
  }
}
